.navbar-brand > img{
    height: 50px;
}
.navbar {
    min-height: 70px;
}
.navbar-default .navbar-nav > li > a{
    padding-top: 23px;
    font-size: 15px;
}
.navbar{
    box-shadow: 0 7px 15px -5px gray;
}
.navbar {
    margin-bottom: 0;
}
.container .jumbotron, .container-fluid .jumbotron {
    background: url("../desain/slide1.jpg") center center no-repeat;
    background-size: 100% auto;
    color: #FFF;
    text-align: center;
}
h2.tengahe{
    color: #FFF;
}
.container .jumbotron a, .container-fluid .jumbotron a{
    color: #FFF;
}
.container .jumbotron a i, .container-fluid .jumbotron a i{
    color: #FFF;
}
.container .jumbotron a:hover, .container-fluid .jumbotron a:hover{
    text-decoration: none;
}

.ngisormas{
    padding: 30px;
}
.container{
    background: #FFF;
}
.sosial-media{
    padding: 20px 40px 5px 0;
}
.details{
    padding: 20px 70px;
}
.titlestd{
    background: url("../desain/red-bg2.jpg") center center no-repeat;
    background-size: 100% auto;
    padding: 70px;
    color: #FFF;
}
.titlestd h1, .titlestd h2{
    color: #FFF;
}