<!DOCTYPE html>
<html>
    {% include std/head.html %}
    <body>
        {% include std/header.html %}
        <section data-hook="main" class="container">
            {{ content }}

            <div class="clearfix"></div>
            <div class="row ngisormas">
                <div class="col-md-6">
                    <img src="{{ site.base_url }}/img/logo.png" height="50" />
                </div>
            </div>
        </section>
        {% include std/footer.html %}
    </body>
</html>
